################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/BikesWebAPI/.vs/BikesWebAPI/v15/.suo
/BikesWebAPI/.vs/BikesWebAPI/v15/Server/sqlite3
/.vs/BikeInventory/v15
/.vs
/BikesWebAPI/BikesWebAPI/obj
