################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/BikesWebAPI/.vs/BikesWebAPI/v15/.suo
