USE [master]
GO
/****** Object:  Database [BikesManagementAPIDB]    Script Date: 2018-03-02 3:54:03 PM ******/
CREATE DATABASE [BikesManagementAPIDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BikesManagementAPIDB', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BikesManagementAPIDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BikesManagementAPIDB_log', FILENAME = N'E:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\BikesManagementAPIDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BikesManagementAPIDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BikesManagementAPIDB]
GO
USE [BikesManagementAPIDB]
GO
/****** Object:  Table [dbo].[Bikes]    Script Date: 2018-03-02 3:54:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bikes](
	[BikeID] [int] IDENTITY(1,1) NOT NULL,
	[Reference] [varchar](50) NULL,
	[Description] [varchar](50) NULL,
	[Quantity] [varchar](50) NULL,
	[Type] [varchar](50) NULL,
	[Color] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[BikeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
